@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Faculty+Glyphic&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    width: 1440px;
    height: 5189px;
    font-family: 'Rubik';
}
.bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 23.7px;
}
p{
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 500;
    line-height: 23.7px;
}